.icon-btn {
  color: black;
}

.movie-list {
  width: 100%;
}

.movie-item {
  color: black;
  width: 100%;
  border: 2px solid rgb(187, 187, 187);
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.movie-title {
  flex: 1;
  text-align: center;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 4px;
  border-radius: 4px;
  transition: background-color 0.15s;
}

.icon-btn:hover {
  background-color: #bbb;
}
