/* CSS for app */
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    width: 70%;
    margin: 0 auto;
}

/* CSS for main content area */
.main-content {
    background-color: var(--main-color);
    padding: 1rem;
}

/* default CSS for elements */
button {
    background-color: var(--accent-color);
    color: var(--accent-text);
    padding: 1rem;
    margin: 1rem;
    font-size: 110%;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    &[type="checkbox"] {
        width: auto;   
        margin-left: 0.5rem;   
    }
}
